*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

body
{
    background: linear-gradient(to right,rgb(68, 10, 68),
    rgb(120, 19, 120));
}

.container
{
    width: 100%;
    min-height: 100vh;
    color: whitesmoke;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1
{
    display: flex;
    align-items: center;
    font-family: 'Saira';
    letter-spacing: 2px;
    font-size: 4rem;
}
.container button
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 0;
    outline: 0;
    background: rgb(148, 53, 148);
    color: whitesmoke;
    font-family: 'Dosis';
    letter-spacing: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem 2rem;
    padding-left: 2rem;
    margin: 30px 0 20px;
}
.container button:hover
{
    background: rgb(153, 66, 153);
}
.container button img
{
    width: 10%;
}

.input-box
{
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 200px;
    background: #b39e9e;
    color: black;
    padding: 20px;
    font-weight: 800;
    font-family: 'Dosis';
    letter-spacing: 2px;
    font-size: 1.1rem;
    box-shadow: 0 2px 2px black;
    margin: 40px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img
{
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
}